$break-sm: unquote("min-width: 384px");
$break-md: unquote("min-width: 576px");
$break-lg: unquote("min-width: 768px");

$high-dppx: unquote("-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx");