.Skill {
  font-size: .8em;
  text-align: center;
}

.Skill-image {
  height: 64px;
  width: 64px;
  margin: 0 0.5em 0.5em;
  background: url('../../images/skills.png') no-repeat 0 0;
  background-size: auto 100%;
}

.Skill--javascript > .Skill-image {
  background-position: 0 0;
}

.Skill--react > .Skill-image {
  background-position: -64px 0;
}

.Skill--redux > .Skill-image {
  background-position: -128px 0;
}

.Skill--ruby > .Skill-image {
  background-position: -192px 0;
}

.Skill--rails > .Skill-image {
  background-position: -256px 0;
}

.Skill--html5 > .Skill-image {
  background-position: -320px 0;
}

.Skill--css3 > .Skill-image {
  background-position: -384px 0;
}